* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  color: black !important;
}


/* Navbar */

span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 62px;
    height: 62px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
width: 24px;
height: 17px;
background-image: none;
position: relative;
border-bottom: 2px solid #fff;
transition: all 300ms linear;
top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
width: 24px;
position: absolute;
height: 2px;
background-color: #fff;
top: 0;
left: 0;
content: '';
z-index: 2;
transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
transform: rotate(45deg);
background-color: #fff;
height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
transform: translateY(8px) rotate(-45deg);
background-color: #fff;
height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
border-color: transparent;
}
/* BANNER */
.banner {
  margin-top: 0;
  padding: 50px 0 20px 0;
  height: 100%;
  
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

.banner h4 {
  margin-top: 20px;
}
.banner p {
  color: black;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-top: 20px;
}

.wrap {
  font-size: 45px;
  margin: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-image {
  border-radius: 100px;
  width: 400px;
  height: 40vh;
}

/* About */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  margin: 3vh;
  font-weight: bolder;
  font-size: 75px;
}



.profile-image {
  max-width: 600px;
  max-height: 50vh;
  margin: 20px;
  border-radius: 50px; 
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  padding-top: 60px;
  border-radius: 10px;
  max-width: 60vw;
  background: rgba(0,0,0,.2);
  margin: 20px;
}

.about-title-header {
  padding: 25px;
}

.interests {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  max-width: 60vw;
}

.interests-header {
  margin: 3vh;
  font-weight: bolder;
  font-size: 75px;
  
}

.interest-header {
  margin-bottom: 25px;
}

.percy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  padding-top: 60px;
  border-radius: 10px;
  max-width: 60vw;
  background: rgba(0,0,0,.2);
  margin: 10px;
}

.percy-image {
  max-width: 600px;
  max-height: 50vh;
  border-radius: 15px;
}

.percy-text {
  padding: 20px;
}

.football {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  padding-top: 60px;
  border-radius: 10px;
  max-width: 60vw;
  background: rgba(0,0,0,.2);
  margin: 20px;
}

.football-image {
  max-width: 600px;
  max-height: 25vh;
  border-radius: 15px;
}

.football-text {
  padding: 20px;
}

.computer-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  padding-top: 60px;
  border-radius: 10px;
  max-width: 60vw;
  background: rgba(0,0,0,.2);
  margin: 20px;
}

.grounded-image {
  max-width: 600px;
  max-height: 25vh;
  border-radius: 15px;
}

.games-text {
  padding: 20px;
}

.carousel {
  max-width: 500px;
}



/* Skills */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.skills-title {
  margin: 5vh;
  font-weight: bolder;
  font-size: 75px;
}

.icon-main {
  display: flex;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px; 
  margin-left: 1%;
  margin-right: 1%;
  max-width: 1500px;
  border-radius: 10px;
  background: rgba(0,0,0,.2);
  margin-bottom: 2vh;
}

.icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
  
}

.icon-image {
  max-height:120px;
  margin: 20px;
}

/* PROJECTS */

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}

.project-icons {
  max-height: 60px;
  margin: 0px 30px 0px 30px;
}

.card-images {
  width: 100%;
  height: 35vh;
}

.row {
  max-width: 1200px;
}

.projects-title {
  margin: 3vh;
  font-weight: bolder;
  font-size: 75px;
}

/* FOOTER */

.footer {
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  max-height: 10vh;
  background-color: black;
  color: rgba(255, 255, 255, 0.55);
  font-size: 25px;
}

.footer-links {
  padding: 25px;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a.footer-links {
  padding: 20px;
}